doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		meta(name="description" content="")
		link(rel="icon" href="favicon.ico" type="image/x-icon")
		link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
		link(rel='stylesheet', href='css/style.css')
		title Wildlife
	body
		.wrapper
			include ../blocks/header.pug
			main
				include ../blocks/survival.pug
			include ../blocks/articles.pug
			include ../blocks/subscribe.pug
			include ../blocks/footer.pug