@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1;
  color: #333;
  background-color: #fff;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  transition: 0.5s linear;
  cursor: pointer;
  color: #f7f7f7;
}

a:hover {
  color: #cd6326;
  transition: 0.5s linear;
}

button {
  border: none;
  outline: none;
  font: inherit;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.button {
  border-radius: 5px;
  color: #f7f7f7;
  background: #cd6326;
}

.wrapper {
  position: relative;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 15px;
  }
}
