section.articles
	.container
		.title Latest articles
		h2.subtitle Breaking news from the wild
		.slider
			.slider__list
				.slider__list-item
					.card.card--deer
						.card-title Deer
						.card-text Naturalist investigation
				.slider__list-item
					.card.card--squirrel
						.card-title Squirrel
						.card-text Kamikaze squirrels
				.slider__list-item
					.card.card--bird
						.card-title Bird
						.card-text Birds Fight club
			.button-slider
				img(src="./img/slider/prev.png", alt="").button-prev
				img(src="./img/slider/next.png", alt="").button-next