footer.footer
	.container
		.footer-menu
			.footer-menu__list
				.footer-menu__list-item
					.logo
						img(src="/img/footer/logo.svg", alt="logo in footer").logo-image
						.text wildlife
				.footer-menu__list-item
					nav.nav
						ul.nav__list
							li.nav__list-item
								a(href="") Articles
							li.nav__list-item
								a(href="") About us
							li.nav__list-item
								a(href="") Learn more
				.footer-menu__list-item
					.social
						ul.social__list
							li.social__list-item
								a(href="#")
									img(src="/img/footer/social-icon/fb.svg", alt="")
							li.social__list-item
								a(href="#")
									img(src="/img/footer/social-icon/inst.svg", alt="")
							li.social__list-item
								a(href="#")
									img(src="/img/footer/social-icon/p.svg", alt="")
							li.social__list-item
								a(href="#")
									img(src="/img/footer/social-icon/tlgr.svg", alt="")