header.header
	.container
		.header-menu
			.header-menu__list
				.header-menu__list-item
					.logo
						a(href="#")
							img(src="/img/header/logo.svg", alt="logo wildlife").logo-image
						.text wildlife
				.header-menu__list-item
					nav.nav
						ul.nav__list
							li.nav__list-item
								a(href="").link Blog
							li.nav__list-item
								a(href="").link Contacts
							li.nav__list-item
								img(src="/img/header/search.svg", alt="search").search
							li.nav__list-item
								button.login Sign in