section.subscribe
	.container
		.title Get notified about new amazing articles
		form.form
			input(type="email", name="email" id="email" placeholder=" ").email
			label(for="email").label Email
			button.button Send
